.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    background-color: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
   
    & .brand-title{
        & a {

            & img {
                width: 10rem;
                height: 6rem;
            }
        }
    }

    .toggle-button {
        width: 2.5rem;
        height: 2.5rem;
        right: 9rem;
        top: 3.5rem;
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;

        &:hover{
            cursor: pointer;
        }

        & span {
            width: 100%;
            height: 1px;
            // border: 1px solid $pc;
            background-color: $pc;
        }
    }

    & .navbar-links {

        & ul {
            display: flex;
            
            & li {
                list-style: none;
                // margin: 0 .7rem;
                padding: .5rem .8rem;

                &:hover {
                    background-color: rgba(255,255,255, .5);
                }

                & a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: $pc;
                    display: block;
                }
            }
        }
    }
}



@media (max-width: $tablet){
    .navbar {
        
        flex-direction: column;
        align-items: flex-start;
        

        & .toggle-button {
            display: flex;
        }

        & .navbar-links {
            display: none;
            width: 100%;
            margin-top: -2rem;
            position: absolute;
            left: 48%;
            top: 85%;
         

            & ul {
                flex-direction: column;
                justify-content: flex-end;
                width: 40%;
                
                background: rgba(255,255,255, .2);
                backdrop-filter: blur(5px);
                box-shadow: 0 20px 50px rgba(0,0,0,.2);
                border-radius: 5px;
                border-top: 1px solid rgba(255,255,255, .5);
                border-left: 1px solid  rgba(255,255,255, .5);

                & li {
                    text-align: right;
                    
                   
                    
                    & a{
                        // padding: .1rem 0;
                       
                    }
                }
            }
        }

        & .navbar-links.active {
            display: flex;
           
        }
    }
}    

@media (max-width: $phone){
    .navbar {

        & .brand-title{
            & a {
    
                & img {
                    width: 6rem;
                    height: 4rem;
                }
            }
        }
        
        & .toggle-button {
            width: 1.5rem;
            height: 1.5rem;
            right: 6rem;
            top: 3.5rem;
        }

        & .navbar-links {
        
         

            & ul {
        

                & li {
                    text-align: right;
                    
                   
                    
                    & a{
                       
                    }
                }
            }
        }

        & .navbar-links.active {
            display: flex;
           
        }
    }
}    