#events {
  height: 80vh;
  width: 100%;
  @include center;
  //   border: $border;
  background: $bg;
  font-family: "Poppins", sans-serif;

  & .container {
    & .carousel {
      & .carousel-inner {
        & .item {
          //   height: 80rem;
          //   width: 100%;

          & .carImg-container {
            height: 60rem;
            width: 100%;
            & img {
              height: 100%;
              width: 100%;
            }

            & video {
              //   height: 50%;
              //   width: 100%;
              //   object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  #events {
    & .container {
      & .carousel {
        & .carousel-inner {
          & .item {
            //   height: 80rem;
            //   width: 100%;

            & .carImg-container {
              height: 45rem;
              width: 100%;
              & img {
                height: 100%;
                width: 100%;
              }

              & video {
                //   height: 50%;
                //   width: 100%;
                //   object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
