#events {
  height: 80vh;
  width: 100%;
  // @include center;
  //   border: $border;
  display: flex;
  flex-direction: column;
  background: $bg;
  font-family: "Poppins", sans-serif;

  & .events-title {
    @include center;
    justify-content: flex-start;
    font-size: 4rem;
    color: $pc;
    text-shadow: -2px 0 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    // height: 3rem;
    // border: $border;
    padding: 0 10rem;
    margin-bottom: 2rem;
  }

  & .container {
    & .carousel {
      & .carousel-inner {
        & .item {
          //   height: 80rem;
          //   width: 100%;

          & .carImg-container {
            height: 60rem;
            width: 100%;
            & img {
              height: 100%;
              width: 100%;
            }

            & video {
              //   height: 50%;
              //   width: 100%;
              //   object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  #events {
    & .container {
      & .carousel {
        & .carousel-inner {
          & .item {
            //   height: 80rem;
            //   width: 100%;

            & .carImg-container {
              height: 45rem;
              width: 100%;
              & img {
                height: 100%;
                width: 100%;
              }

              & video {
                //   height: 50%;
                //   width: 100%;
                //   object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
