#services{
    background: $bg;
    height: 35vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr;
    grid-template-areas: 
    "title title title"
    "services1 services2 services3"
    ;
    grid-gap: 2rem;
    padding: 3rem 10rem;
    // border: $border;


    & .services-title {
        grid-area: title;
        @include center;
        justify-content: flex-start;
        font-size: 4rem;
        color: $pc;
        text-shadow: -2px 0  2px rgba(0,0,0, .2),
        0 -2px  2px rgba(0,0,0, .2);
        // 0 -2px  2px rgba(0,0,0, .2),
        font-weight: bold;
        
    }

    & .service1,
    .service2,
    .service3{
        @include bsneu;
        @include center;
        flex-direction: column;
        padding: 0 1rem;
        // text-align: center;
    
        & h4 {
            font-size: 2.8rem;
            font-family: $font2;
            font-weight: 700;
        }

        & p {
            font-size: 1.5rem;
            font-family: $font2;
            margin-top: 1rem;
        }
       
    }

    & .service2{
        grid-area: services1;
    }

    & .service2{
        grid-area: services2;
    }

    & .service3{
        grid-area: services3;
    }
}
@media (max-width: $laptop){
    #services {


    & .service1,
    .service2,
    .service3{
        padding: 0 1rem;

    
        & h4 {
            font-size: 2.4rem;
        }

        & p {
            font-size: 1.2rem;
        }
       
    }
    }
}

@media (max-width: $tablet){
    #services {
        height: 80vh;
        padding: 2rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .4fr .4fr .4fr;
        grid-template-areas: 
        "title"
        "service1" 
        "service2"
        "service3"
        ;
        & .services-title{
            grid-area: title;
        }
    
        & .service1 {
            grid-area: service1;
        }
    
        & .service2 {
            grid-area: service2;
        }
    
        & .service3 {
            grid-area: service3;
        }
        
      
    }
}