$headerBg: linear-gradient(170deg, #7F7FD5, #86A8E7, #91EAE4);
$bg: #ecf0f3;
$pc: #354a5e;
$black: rgb(37, 36, 36);
$border: 1px solid red;
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 510px;

$font2: 'Bellota Text', cursive;
